{% extends 'base.html' %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function() {
        checkCookie();
    });
</script>
{% endblock %}


{% block content %}
<div class="ui container">
    <h4 class="ui dividing header">Notiz erfassen</h4>
    <form class="ui form" method="POST" onsubmit="return notes_enc()">
        <div class="field">
            <label>Titel</label>
            <input type="text" name="title" placeholder="Titel Notiz...">
        </div>
        <div class="field">
            <div class="field">
                <label>Text</label>
                <textarea rows="32" name="note"></textarea>
            </div>
        </div>
        <button class="ui primary button" type="submit" style="float: right;">Hinzufügen</button>
    </form>
</div>
{% endblock %}